@import "design_system2/dist/eadedo_style.css";

html,
body {
  margin: 0;
  padding: 0;
  max-width: 26.563rem;
}

.home_mobile--image {
  width: 100%;
  object-fit: cover;
  margin-bottom: var(--space-150);
}

.button-media-link {
  all: unset;
  cursor: pointer;
  width: 90%;
  border: var(--button-border) 1px solid !important;
}

button svg path {
  fill: #1529FF !important;
}

.FinalizacaoFundo {
  display: flex;
  width: 100%;
  padding: var(--space-150) 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: var(--radius-075) var(--radius-075) 0 0;
}

/* SAUDACAO */
.fundoSaudacao {
  display: flex;
  padding-bottom: var(--space-100);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: var(--radius-075);
}

.saudacao_image--header {
  height: auto;
  width: 100%;
  border-radius: 0rem 0rem var(--radius-075) var(--radius-075);
  object-fit: contain;
}

.saudacao_text,
.depoimentos_text {
  font-weight: 400 !important;
  color: #FFF;
}

.saudacao_container {
  position: relative;
  width: 100%;
}

.saudacao_contet--infos {
  position: relative;
  padding: var(--space-100);
  padding-bottom: 32px;
  border-radius: var(--radius-075);
}

.saudacao_contet--infos-plus {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;

  display: flex;
  align-items: center;
  height: 2.625rem;
  padding: var(--space-025) var(--space-100);
  gap: var(--space-100);
  border-radius: var(--radius-075);
  max-width: 16.81rem;
  color: #fff;
}

.tag_secundary {
  display: flex;
  width: fit-content;
  padding: 0.25rem var(--space-075);
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: var(--radius-150)
}

.outros_cursos {
  color: var(--Anil);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  /* 1.5rem */
  text-decoration-line: underline;
  border: none;
  background-color: transparent;
  display: contents;
  gap: 0.5rem;
}

.outros_cursos:hover {
  color: var(--Marinho);
  text-decoration: none;
}

.outros_cursos:last-child .outros_cursos--span {
  display: none;
}

.outros_cursos--span {
  color: var(--color-neutral-950);
}

/* Depoimento */
.fundo_depoimento {
  border-radius: var(--radius-100) 0 0 0;
  padding: var(--space-150, 1.5rem) 1.125rem;
}

.depoimento_heading {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 700;
}

.slider-container {
  overflow-x: auto;
  padding: 16px;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.slider {
  display: flex;
  gap: 16px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.depoimento {
  flex: 0 0 17rem;
  scroll-snap-align: start;
  display: flex;
  width: 17rem;
  height: 22rem;
  padding: var(--space-075);
  align-items: flex-start;
  gap: var(--space-050);
  border-radius: var(--radius-075);
  background: #FFF;
}

.depoimento_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-025);
}

.foto_depoimento {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.estrelas {
  display: flex;
  text-align: end;
}

.depoimento_text {
  color: var(--color-neutral-950);
  font-size: 0.875rem;
  font-weight: 400;
  align-self: stretch;
}

.logo_final {
  width: 8.4375rem;
  height: 1.8125rem;
}

/* coisas que vão estar no ds */
.Unifor {
  --font-family-heading: var(--font-family-Satoshi);
  --font-family-body: var(--font-family-Satoshi);
  --font-family-code: var(--font-family-Code);
  --color: var(--color-neutral-950);
}

.container-xs {
  max-width: 20.5625rem;
  margin: auto;
}