@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:wght@300;500;700&display=swap");

:root {
  --Anil: #004af7;
  --GestaoDeRh-claro: #cfc8e5;
  --GestaoDeRh-escuro: #3b3666;
  --GestaoDeRh-gradient: radial-gradient(
    154.34% 144.66% at -2.8% 95.49%,
    #766ccc 11.42%,
    #3b3666 67.99%
  );
}

body {
  font-family: "Poppins", sans-serif;
  word-break: break-word !important;
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  max-width: 996px;
  /* box-sizing: border-box; */
  padding: 6%;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.flexBaseline {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.flexBaseline p {
  margin: 0;
}

.ButtonsCursos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(157px, 1fr));
  grid-gap: 0.75rem;
}

.AcessarCurso {
  display: flex;
  gap: 0.5rem;
  height: 5.25rem;
  border-radius: 0.75rem;
  background: #d9d9d9;
  margin-bottom: 1.75rem;
}

.AcessarCurso_imagem {
  max-width: 4.29969rem;
}

.AcessarCurso_imagem img {
  border-radius: 0.75rem 0 0 0.75rem;
}

.AcessarCurso_texto {
  font-family: Poppins;
  font-size: 0.625rem;
  font-weight: 400;
  background: linear-gradient(180deg, #0f112b 6.5%, #0f112b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.saudacao {
  width: fit-content;
  min-height: 60rem;
}

.saudacao-container {
  position: relative;
  width: 100%;
  height: 355px;
  border-radius: 0px 0px 12px 12px;
  background: radial-gradient(
    154.34% 144.66% at -2.8% 95.49%,
    #766ccc 11.42%,
    #3b3666 67.99%
  );
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: end;
}

.imagem {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%;
  height: auto;
  max-width: 178px;
  max-height: 282px;
  flex-shrink: 0;
}

.saudacao-content {
  padding-left: 40%;
}

.content-right {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 30%;
  height: auto;
  margin-bottom: 10px;
}

.nome {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardConceito {
  position: relative;
  margin-top: -20px;
  padding-left: 6%;
  padding-right: 6%;
  min-height: 60rem;
}

.cardConceito_conteudo {
  padding: 1.5rem 1.12rem;
  border-radius: 12px;
  background: #cfc8e5;
}

.cardConceito2_conteudo {
  max-width: 11.6875rem;
  height: 2.625rem;
  border-radius: 0.75rem;
  background: #3b3666;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
  padding: 0.4rem 0.81rem;
  position: relative;
  margin-top: -20px;
  margin-left: 20px;
}

.cardConceito2_conteudoTipo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cardConceito2_texto {
  color: #fff;
  font-family: Poppins;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 150.18%;
  margin: 0;
}

.emaPosition {
  position: relative;
  display: flex;
  justify-content: end;
  top: -80px;
  right: -7%;
}

.recepcao {
  position: relative;
  top: -60vw;
}

.ImagemInicial2 {
  display: flex;
  justify-content: center;
}

.FormatoFundo {
  background: #3b3666;
  padding: 0.7rem 1.5rem;
}

.FormatoFundo_texto {
  color: #fff;
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 400;
}

/* ********************** */
.desenvolve {
  padding-left: 6%;
}

.desenvolveGrupo {
  display: flex;
  justify-content: space-between;
}

.imagemContainer {
  position: relative;
}

.fundo,
.ema {
  position: absolute;
  top: 0;
  left: 0;
}

/* Estilos para dispositivos com largura de tela até 280px (exemplo: smartphones muito pequenos) */
@media (max-width: 280px) {
  .imagem {
    display: none;
  }

  .saudacao-content {
    padding-left: 6%;
  }

  .recepcao {
    position: relative;
    top: -90vw !important;
  }

  .recepcao h1 {
    width: 130px;
  }

  .cardConceito2_conteudo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 6.6875rem;
    height: auto;
  }
}

/* Estilos para dispositivos com largura de tela de 281px a 375px (exemplo: smartphones padrão) */
@media (max-width: 375px) {
  .emaPosition {
    top: -95px;
  }

  .recepcao {
    position: relative;
    top: -70vw;
  }
}

/* Estilos para dispositivos com largura de tela de 376px a 575px (exemplo: smartphones maiores ou tablets em modo retrato) */
@media (max-width: 575px) {
  /* Estilos específicos para dispositivos com largura de tela entre 376px e 575px */
}

/* Estilos para dispositivos com largura de tela de 576px a 767px (exemplo: tablets em modo paisagem) */
@media (max-width: 767px) {
  /* Estilos específicos para dispositivos com largura de tela entre 576px e 767px */
}
